/*
:Author: David Goodger (goodger@python.org)
:Id: $Id: html4css1.css 7952 2016-07-26 18:15:59Z milde $
:Copyright: This stylesheet has been placed in the public domain.

Default cascading style sheet for the HTML output of Docutils.

See http://docutils.sf.net/docs/howto/html-stylesheets.html for how to
customize this style sheet.
*/


/* :theme: Horizontal Bob 
 *
 * Adapted by Pierce Devol for use with clients */
/*
/* Currently hosted on Google drive. Use this link to embed */
/* https://drive.google.com/uc?export=view&id=1yT9a6eeTEV796aTjeNjKAFPS6qnfri_G */

/* embed using
 * <link rel="stylesheet" type ="text/css" href="https://drive.google.com/uc?export=view&id=1yT9a6eeTEV796aTjeNjKAFPS6qnfri_G"/> */
/* instructions say to do the line, I'm not sure why. */
/* Also make sure that you import html4css1.css (using "@import url(html4css1.css);") because the definitions contained in the default stylesheet are required for correct rendering (margins, alignment, etc.). */

/* working on self hosting buying font awesome */
/* <script src="https://kit.fontawesome.com/0a8573869c.js" crossorigin="anonymous"></script> */

@import url(html4css1.css);
/* start root */
:root {

/* base font */
/* open to suggestions */
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: thin;
	--ms-text-size-adjust: 100%;
	--webkit-text-size-adjust: 100%; 
	--webkit-font-smoothing: antialiased;
	overflow-x: auto;
/* GRAIL Colors */
/* Velvet */
/* this one is not used in main logo */
	--gb-velvet: #602B5B; 
/* Deep purple */
	--gb-deep-purple: #3B1C52; 
/* Gold */
/* used in logo */
	--gb-gold: #B58C66; 
/* Dusty Blue */
	--gb-dusty-blue: #1F6784;
/* Dusty Teal */
	--gb-dusty-teal: #297A6A;
/* Light Grey */
	--gb-light-grey: #D9D9D9;
/* Dark Grey */
	--gb-dark-grey: #404040; 
/* Style guidelines
 *
 * Font Scale:
 * 	This stylesheet follows a major third visual type scale
 * 	according to https://type-scale.com/. 
 * 	Base font size is defined below */ 
	--gb-h1: 3.052em; 
	--gb-h2: 2.441em;
	--gb-h3: 1.953em;
	--gb-h4: 1.563em;
	--gb-h5: 1.250em;
	--gb-small: 0.8em;
	color: var(--gb-dark-grey);
	font-weight: thin; }

/* end root */

/* other media */

.document {
  padding: 0.3125rem;
  max-width: 48rem;
}
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .document {
    width: auto;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .document {
    width: auto;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .document {
    width: 620px;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .document {
    width: 940px;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .document {
    width: 940px;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .document {
    width: 940px;
  }
}

body{
	margin-top: 1em; 
	margin-bottom: 1em;
	--ms-text-size-adjust: 100%;
	--webkit-text-size-adjust: 100%; 
	--webkit-font-smoothing: antialiased; }

p {
	--webkit-font-smoothing: antialiased;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: thin; }

title {
  		color: var(--gb-velvet); 	
		--webkit-font-smoothing: antialiased;
		font-size: var(--gb-h1);
		font-family: 'Roboto', sans-serif;
		margin: 2em;
   		font-weight: 300; }


h1 {
    margin-block-start: 2em;
    margin-block-end: 2em;
	color: var(--gb-velvet);  	
	--webkit-font-smoothing: antialiased;
	font-size: var(--gb-h1);
	font-family: 'Roboto', sans-serif;
	font-weight: 700; 
}

h2 { 	
		--webkit-font-smoothing: antialiased;
    	color: var(--gb-gold); 
		font-size: var(--gb-h2);
		font-family: 'Roboto Condensed', sans-serif; 
		margin-top: 0.5em; 
		margin-bottom: 0.5em;
		font-style: italic; 
		font-weight: 600; }
  
h3 { 	
		--webkit-font-smoothing: antialiased;
		color: var(--gb-velvet); 
		margin-top: 0.5em; 
		margin-bottom: 0.5em;
		font-size: var(--gb-h3);
		font-family: 'Roboto Condensed', sans-serif; 
		text-decoration: underline;
	    font-stretch: condensed;	
		font-weight: 500; }

  
h4 {	 	
		--webkit-font-smoothing: antialiased;
		margin-top: 0.5em; 
		margin-bottom: 0.5em;
		color: var(--gb-dusty-blue); 
		font-size: var(--gb-h4);
		font-family: 'Roboto', sans-serif;
		font-weight: 500; }

h5 { 	
		--webkit-font-smoothing: antialiased;
		margin-top: 0.5em; 
		margin-bottom: 0.5em;
  		color: var(--gb-dark-grey); 
		font-size: var(--gb-h5);  
		font-family: 'Roboto Condensed', sans-serif; 
   	    font-style: bold; }

h6 { 	
		--webkit-font-smoothing: antialiased;
  		margin-top: 0.5em; 
		margin-bottom: 0.5em;
  		color: var(--gb-dusty-teal); 
		font-size: var(--gb-h6);
		font-family: 'Roboto', sans-serif;
   	    font-style: bold; }

code {
		border: 1px solid #efefef;
		color: #1F6683;
		background-color: #D9D9D9;	
		font-family: 'Share Tech Mono', monospace; }

a {
	text-decoration: underline;
	text-decoration-color: var(--gb-deep-purple); }

a:active {
  text-decoration-color: var(--gb-deep-teal); }

a:hover {
  text-decoration-color: 1em var(--gb-gold);  } 

a:visited {
  text-decoration-color: 1em var(--gb-gold); }


h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {}  


div.topic {
	background-color: var(--gb-light-grey);
	border-left-style: solid;
	border-left-width: 0.5rem; 
	margin: 3em;
	max-width: 70%;
	padding-bottom: 1em;
	padding: 4px;
    text-align: left;

}


p.topic-title {
	font-family: 'Roboto Condensed', sans-serif; 
	color: var(--gb-dusty-blue);
	font-size: var(--gb-h4); }

small { font-size: 80%; }

sub,
sup {
  font-size: 75%;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5rem; }

sub {
  bottom: -0.25rem; } 

svg:not(:root) {
	overflow: hidden; } 

/* Table stuff */

tbody {
	font-family: 'Roboto Condensed', sans-serif; 
	font-size: 1em; }

td {
    display: table-cell;	
	border: 1px solid var(--gb-light-grey);
    padding: 4px; }

table.docinfo {
  margin: 2em 4em }

table.docutils {
  margin: 2em 4em }

table.footnote {
  border-left: solid 1px black;
  margin-left: 1px }

table.docutils td, table.docutils th,
table.docinfo td, table.docinfo th {
	border: 1px solid var(--gb-light-grey);
	padding: 4px; 
	font-family: 'Roboto Condensed', sans-serif; 
	padding-left: 0.5em ;
	padding-right: 0.5em ;
	vertical-align: top }

table.docutils th.field-name, table.docinfo th.docinfo-name {
  font-weight: bold;
  text-align: left;
  white-space: nowrap ;
  padding-left: 0 }


table tr {
  text-align: left;
  padding: 8.8px;
  vertical-align: top;

  }
thead th {
	color: var(--gb-gold);
	background-color: var(--gb-light-grey);
	text-align: left;
	vertical-align: center;
	font-size: var(--gb-h5); }

th {
	border: 1px solid var(--gb-light-grey);
	padding: 4px; 
	border: 1px solid black;
	padding: 4px; 
	font-family: 'Roboto Condensed', sans-serif; }
	


table.citation {
  width: auto;
  border-left: solid 2px #279cf5;
  margin-left: 1px ; }

table tr:nth-child(even) {
  background-color: #D9d9d9; }

table tr:nth-child(odd) {
  background-color: white; }

table ul li,
table ol li {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

table.field-list tbody > tr:nth-child(odd) > td,
table.field-list tbody > tr:nth-child(odd) > th,
table.footnote tbody > tr:nth-child(odd) > td,
table.footnote tbody > tr:nth-child(odd) > th,
table.citation tbody > tr:nth-child(odd) > td,
table.citation tbody > tr:nth-child(odd) > th,
table.docinfo tbody > tr:nth-child(odd) > td,
table.docinfo tbody > tr:nth-child(odd) > th{}

/* "booktabs" style (no vertical lines) */
table.docutils.booktabs {
  border: 0px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-collapse: collapse;
}
table.docutils.booktabs * {
  border: 0px;
}
table.docutils.booktabs th {
  border-bottom: thin solid;
  text-align: left;
}

table {
 
  font-size: inherit; 	
  empty-cells: hide;
  max-width: 100%;
  margin: 5px 0;
  border: .01rem solid black;
  border-collapse: collapse;
  margin-top: 8.8px;
  margin-bottom: 30.8px;
  empty-cells: hide;
  max-width: 100%;
  margin: 5px 0;
  border-spacing; .25rem;
  border: .01rem solid black;
  border-collapse: collapse;
  text-align: left;
  padding: 8.8px;
  vertical-align: top; }



/* lists */


/* from htmlhtml4css1.css */



/* Override more specific margin styles with "! important". */
.first { margin-top: 0 ! important; }

.last,
.with-subtitle {
  margin-bottom: 0 ! important; }

.hidden {
  display: none;}

.subscript {
  vertical-align: sub;
  font-size: smaller }

.superscript {
  vertical-align: super;
  font-size: smaller }

a.toc-backref {
  text-decoration: none ;
  color: inherit; }

blockquote {
	font-color: var(--gb-dark-grey); 
	font-weight: 350; 
	background-color: var(--gb-light-grey) ! important;
	padding: 2px;
	padding-left: 12px; }

blockquote.glossary {
	font-color: var(--gb-dark-grey); 
	font-weight: 350; 
	background-color: white;	}


blockquote.epigraph {
  margin: 2em 5em ; }

dl dt {
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif; 
	font-size: 16px; }
dl dd {
	font-family: 'Lato', sans-serif;
	font-size: 16px; }

dl.docutils dd {
	margin-bottom: 0.5em }

object[type="image/svg+xml"], object[type="application/x-shockwave-flash"] {
  overflow: hidden;
}

dl.docutils dt {
	margin-bottom: 0.5em }


div.abstract {
  margin: 2em 5em }

div.abstract p.topic-title {
  font-weight: bold ;
  text-align: center }

/* admonitions */

div.admonition {
	border-left-style: solid;
	border-left-width: 0.5rem; 
	margin: 3em;
	max-width: 70%;
	padding-bottom: 1em;
	padding: 0.5rem;
    border-left-padding: .25rem; 
    width: 70%;
    text-align: left;
}
 


p.admonition-title {
  font-weight: bold;
  font-size: var(--gb-h4);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.admonition.note, div.note {
    border-left-color: #1F6683;
    background-color: #d6ecf5;
  }
   
div.admonition.tip, div.tip {
    border-left-color: #008b17;
    background-color: #ccffd5; 
  }
  
div.admonition.warning, div.waring {
    border-left-color: #ECA400;
	background-color: #fff0cc;
  }
  
div.admonition.notice, div.notice {
    border-left-color: #ECA400;
	background-color: #fff0cc;
} 

div.admonition.caution, div.caution {
    border-left-color: #ECA400;
	background-color: #fff0cc;
  }
   
div.admonition.important, div.important {
    border-left-color: #ec131a;
    background-color: #fbd0d1;
  }

div.admonition.danger, div.danger {
    border-left-color: #ec131a;
    background-color: #fbd0d1; 
 }

/* Uncomment (and remove this text!) to get reduced vertical space in
   compound paragraphs.
div.compound .compound-first, div.compound .compound-middle {
  margin-bottom: 0.5em }

div.compound .compound-last, div.compound .compound-middle {
  margin-top: 0.5em }
*/

div.dedication {
  margin: 2em 5em ;
  text-align: center ;
  font-style: italic }

div.dedication p.topic-title {
  font-weight: bold ;
  font-style: normal }

div.figure {
  margin-left: 2em ;
  margin-right: 2em }

div.footer, div.header {
  clear: both;
  font-size: smaller }

div.line-block {
  display: block ;
  margin-top: 1em ;
  margin-bottom: 1em; 
  font-color: var(--gb-dark-grey); 
  font-weight: 350; 
  background-color: var(--gb-light-grey) ! important;
  padding: 2px;
  padding-left: 12px; }


div.line-block div.line-block {
  margin-top: 0 ;
  margin-bottom: 0 ;
  margin-left: 1.5em }

div.sidebar {
  margin: 0 0 0.5em 1em ;
  border: medium outset ;
  padding: 1em ;
  background-color: #ffffee ;
  width: 40% ;
  float: right ;
  clear: right }

div.sidebar p.rubric {
  font-family: sans-serif ;
  font-size: medium }

div.system-messages {
  margin: 5em }

div.system-messages h1 {
  color: red }

div.system-message {
  border: medium outset ;
  padding: 1em }

div.system-message p.system-message-title {
  color: red ;
  font-weight: bold }

div.topic {
  margin: 2em }

h1.section-subtitle, h2.section-subtitle, h3.section-subtitle,
h4.section-subtitle, h5.section-subtitle, h6.section-subtitle {
  margin-top: 0.4em }

h1.title {
  text-align: center }

h2.subtitle {
  text-align: center }

hr.docutils {
  width: 75% }

img.align-left, .figure.align-left, object.align-left, table.align-left {
  clear: left ;
  float: left ;
  margin-right: 1em }

img.align-right, .figure.align-right, object.align-right, table.align-right {
  clear: right ;
  float: right ;
  margin-left: 1em }

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table.align-center {
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: left }

.align-center {
  clear: both ;
  text-align: center }

.align-right {
  text-align: right }

/* reset inner alignment in figures */
div.align-right {
  text-align: inherit }

/* div.align-center * { */
/*   text-align: left } */

.align-top    {
  vertical-align: top }

.align-middle {
  vertical-align: middle }

.align-bottom {
  vertical-align: bottom }



div.simple
ol.simple, ul.simple { 
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: thin; 

}

ol.arabic { 
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: thin; 

  list-style: decimal; }

ol.loweralpha { 
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: thin; 

  list-style:  decimal; }

ol.upperalpha { 
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: thin; 

  list-style: decimal; }

ol.lowerroman { 
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: thin; 

  list-style: decimal; }

ol.upperroman { 
  font-family: 'Lato', sans-serif;
  font-size: 6px;
  font-weight: thin; 


p.attribution {
  text-align: right ;
  margin-left: 50% }

p.caption {
  font-style: italic }

p.credits {
  font-style: italic ;
  font-size: smaller }

p.label {
  white-space: nowrap }

p.rubric {
  font-weight: bold ;
  font-size: larger ;
  color: maroon ;
  text-align: center }

p.sidebar-title {
  font-family: sans-serif ;
  font-weight: bold ;
  font-size: larger; }

p.sidebar-subtitle {
  font-family: sans-serif ;
  font-weight: bold; }

p.topic-title {
  font-weight: bold; }

pre.address {
  margin-bottom: 0 ;
  margin-top: 0 ;
  font: inherit ;}

pre.literal-block, pre.doctest-block, pre.math, pre.code {
  margin-left: 2em ;
  margin-right: 2em ;}

pre.code .ln { color: grey; } /* line numbers */
pre.code, code { background-color: #eeeeee }
pre.code .comment, code .comment { color: #5C6576 }
pre.code .keyword, code .keyword { color: #3B0D06; font-weight: bold }
pre.code .literal.string, code .literal.string { color: #0C5404 }
pre.code .name.builtin, code .name.builtin { color: #352B84 }
pre.code .deleted, code .deleted { background-color: #DEB0A1}
pre.code .inserted, code .inserted { background-color: #A3D289}

span.classifier {
  font-family: sans-serif ;
  font-style: oblique; }

span.classifier-delimiter {
  font-family: sans-serif 
  font-weight: bold; }

span.interpreted {
  font-family: sans-serif; }

span.option {
  white-space: nowrap; }

span.pre {
    white-space: pre;
    color: #D33682;
    font-weight: bold;
    background-color: #D9D9D9; }
 
span.problematic {
  color: red; }

span.section-subtitle {
  /* font-size relative to parent (h1..h6 element) */
  font-size: 80% }

/* Begin custom table settings */


code.samp.docutils.literal.notranslate em span.pre {
	border: 1px solid #efefef;
	color: #c7254e; 
    background-color: #D9D9D9; }
	
pre { 
	border: 1px solid #efefef;
    color: #1F6683;
    background-color: #D9D9D9; 
	font-family: 'Share Tech Mono', monospace; }

span pre {
	border: 1px solid #efefef;
    color: #1F6683;
    background-color: #D9D9D9; 
	font-family: 'Share Tech Mono', monospace; }

em span.pre {
	border: 1px solid #efefef;
	color: #c7254e; 
    background-color: #D9D9D9; 
	font-family: 'Share Tech Mono', monospace; }


em code {
	color: #c7254e; }

samp {
	border: 1px solid #efefef;
    color: #1F6683;
    background-color: #D9D9D9; }


h1 tt.docutils, h2 tt.docutils, h3 tt.docutils,
h4 tt.docutils, h5 tt.docutils, h6 tt.docutils {
  font-size: 100% }

ul.auto-toc {
  list-style-type: none }
